


version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: product-api:latest
    env_file:
      - .env
    ports: ["8000:8000"]
    command: "poetry run uvicorn src.main:app --host 0.0.0.0 --port 8000"
    volumes:
      - .:/app
    restart: unless-stopped

  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: product-api
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes


volumes:
  postgres-data:
    driver: local
  redis-data:
    driver: local


