


version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: saas-webhooks:latest
    env_file:
      - .env
    ports: ["8000:8000"]
    command: "poetry run uvicorn src.main:app --host 0.0.0.0 --port 8000"
    volumes:
      - .:/app
    restart: unless-stopped

  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: saas-webhooks
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data


volumes:
  postgres-data:
    driver: local


